#main-menu ul {
   padding-bottom: 0px;
}

#main-menu ul ul {
   padding-left: 10px;

}

#main-menu ul li {
   margin-left: 3px;
   float: left; 
   padding-bottom:7px;
}

#main-menu ul ul a {
   margin-bottom: 5px;
}

#main-menu ul ul li {
	float: none;

}

nav {
	text-align: center;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block; 
	}

nav ul {
	
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
    padding-bottom: 0px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
		nav ul li a {
			display: block;
		}
	nav ul ul {
		background: #4d506d; 
        border-radius: 5px; 
        padding: 0;
		position: absolute; 
        top: 100%;
        text-align: left;
	}

