on:
  workflow_dispatch:
  push:
    branches: master

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install extensions
        run: quarto add --no-prompt schochastics/academicons && quarto add --no-prompt quarto-ext/fontawesome

      - name: Render CV as pdf
        run: quarto render cv.qmd --to pdf && cp -f _site/cv.pdf _media/cv.pdf

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
